/* :host s'assure que les styles sont appliqués au composant */
:host {
  display: block; // Prend la place

  ::ng-deep {
    // --- Style pour les champs 'fill' (fond gris clair) ---
    .mat-mdc-form-field-flex {
      @apply bg-gray-100 rounded-t-md;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: transparent !important; // Force le fond
    }

    // --- Styles du Stepper M3 (BLEU) ---
    .mat-step-header .mat-step-icon-selected {
      // ⬇️ CORRECTION M3: Utilise les variables CSS du thème
      background-color: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
    }
    .mat-step-header .mat-step-label.mat-step-label-active {
      color: var(--mat-sys-primary); // Texte de l'étape active en BLEU
      @apply font-medium;
    }
    .mat-step-header .mat-step-icon {
      @apply bg-gray-400 text-white; // Étapes non terminées
    }
    .mat-step-header .mat-step-label {
      @apply text-gray-700; // Texte des étapes non actives
    }

    // --- Styles de la Liste de Natures ---
    .mat-mdc-list-item-unscoped-content {
      @apply w-full;
    }
    .mat-mdc-list-item .mat-icon {
      // Aligne l'icône avec le thème
      color: var(--mat-sys-primary);
    }
    .mat-mdc-list-item:hover .mat-icon {
      color: var(--mat-sys-primary);
    }

    // --- Styles des Cartes Radio ---
    .mat-mdc-radio-button {
      @apply w-full;
    }
    .mat-mdc-card {
      // Enlève l'ombre par défaut de la carte pour la radio
      @apply shadow-none border;
    }

    // ⬇️ Style pour le stepper (padding intérieur)
    .mat-horizontal-stepper-content {
      padding: 0 24px 24px 24px;
    }

    .mat-icon {
      height: 20px !important;
      width: 20px !important;
      font-size: 20px !important;
      line-height: 20px !important;
      vertical-align: middle;
    }
  }
}
